<footer>
    <figure class="mapa">
        <img src="/imagens/Screenshot_130.png">
    </figure>
    <div class="footInfo">
        <h3>Dev's Beer</h3>
        <p>contato</p>
        <p>sobre nós</p>
        <p>2 Kinoshinbomachi, Kanazawa, Ishikawa 920-0858, Japão</p>
    </div>
</footer>