<header>
    <article class="containerBlack">
        <div class="logo">
            <h1>Dev's Beer</h1>
        </div>
        <div class="botoes">
            <button>Entrar</button>
            <img src="/imagens/carrinho-de-compras.svg">
        </div>
    </article>
    <article class="containerBlue">
        <nav>
            <ul class="menu">
                <li>IPAs</li>
                <li>Sour</li>
                <li>Todos os Produtos</li>
            </ul>
        </nav>
        <div class="buscador">
            <input type="search" id="busca" name="s" placeholder="buscar...">
            <button>buscar</button>
        </div>
    </article>
</header>