<header>
    <link rel="stylesheet" href="/stylesheets/headerfooter.css">
    <article class="containerBlack">
        <div class="logo">
            <h1>Dev's Beer</h1>
        </div>
        <div class="botoes">
            <a href="/user/usuario"><button>Entrar</button></a>
            <a href="/shop/carrinho"><img src="/imagens/carrinho-de-compras.svg"></a>
        </div>
    </article>
    <article class="containerBlue">
        <nav>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/home/sobrenos">Sobre Nós</a></li>
            </ul>
        </nav>
        <div class="buscador">
            <input type="search" id="busca" name="s" placeholder="buscar...">
            <button>buscar</button>
        </div>
    </article>
</header>