<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
</head>

<body>

    <%- include('./partials/header') %>


    <div class="principal"> 

        <div class = form-header>
            <h1 class = "title">Cadastro de novos clientes</h1>
            <h2 class="title2">Dados Pessoais</h2>
        </div>
        
        <div class="inicioform">
            <form action="#" method="post">
                <div class = "input-group">

                    <div class = "inputs">
                        <label for="NomeCompleto">Nome Completo</label>
                        <input id ="NomeCompleto" type="text" 
                        name="NomeCompleto" placeholder="Digite seu nome completo" required>
                    </div>

                    <div class = "inputs">
                        <label for="DataNascimento">Data de Nascimento</label>
                        <input id ="DataNascimento" type="date" 
                        name="DataNascimento" placeholder="Digite a sua data de nascimento" required>
                    </div>

                    <div class = "inputs">
                        <label for="CadPessoaFisica">CPF</label>
                        <input id ="CadPessoaFisica" type="text" 
                        name="CadPessoaFisica" placeholder="Digite o seu CPF" required>
                    </div>

                    <div class = "inputs">
                        <label for="Email">E-mail</label>
                        <input id ="Email" type="email" 
                        name="E-mail" placeholder="Digite seu e-mail" required>
                    </div>

                    <div class = "inputs">
                        <label for="SenhaCad">Senha</label>
                        <input id ="SenhaCad" type="password" 
                        name="SenhaCad" placeholder="Digite a sua senha" required>
                    </div>    
                </div>
            </form>
        </div>
            <button class = "avancar-boton"> <a href="#"> Avançar </a> </button>
    </div>


	<%- include('./partials/footer') %>

    
</body>

</html>