<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Dev's Beer</title>
</head>
<body>

<%- include('./partials/header') %>

    <main>
		<div class="banner1">
			<img src="./imagens/banner 01.png">
		</div>
		<div class="primeiralinha">
			<article class="produtos">
				<section class="card">
					<div class="produtoIMG">
						<img src="./imagens/beer01.jpg">
					</div>
					<div class="infoProd">
						<p class="nomeC">Nome da Cerveja</p>
						<p>Preço: R$15,00</p>
						<button>Adicionar</button>
					</div>
				</section>
				<section class="card">
					<div class="produtoIMG">
						<img src="./imagens/beer01.jpg">
					</div>
					<div class="infoProd">
						<p class="nomeC">Nome da Cerveja</p>
						<p>Preço: R$15,00</p>
						<button>Adicionar</button>
					</div>
				</section>
				<section class="card">
					<div class="produtoIMG">
						<img src="./imagens/beer01.jpg">
					</div>
					<div class="infoProd">
						<p class="nomeC">Nome da Cerveja</p>
						<p>Preço: R$15,00</p>
						<button>Adicionar</button>
					</div>
				</section>
			</article>
		</div>
		<div class="Promo">
			<img src="./imagens/banner 02.png">
            <p>PROMOÇÃO</p>
		</div>
		<article class="produtos">
			<section class="card">
				<div class="produtoIMG">
					<img src="./imagens/beer01.jpg">
				</div>
				<div class="infoProd">
					<p class="nomeC">Nome da Cerveja</p>
					<p>Preço: R$15,00</p>
					<button>Adicionar</button>
				</div>
			</section>
            <section class="card">
				<div class="produtoIMG">
					<img src="./imagens/beer01.jpg">
				</div>
				<div class="infoProd">
					<p class="nomeC">Nome da Cerveja</p>
					<p>Preço: R$15,00</p>
					<button>Adicionar</button>
				</div>
			</section>
            <section class="card">
				<div class="produtoIMG">
					<img src="./imagens/beer01.jpg">
				</div>
				<div class="infoProd">
					<p class="nomeC">Nome da Cerveja</p>
					<p>Preço: R$15,00</p>
					<button>Adicionar</button>
				</div>
			</section>
		</article>
	</main>

	<%- include('./partials/footer') %>

</body>
</html>