<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <article class="containerBlack">
            <div class="logo">
                <h1>Dev's Beer</h1>
            </div>
            <div class="botoes">
                <button>Entrar</button>
                <img src="./IMG header e footer/carrinho-de-compras.svg">
            </div>
        </article>
        <article class="containerBlue">
            <nav>
                <ul class="menu">
                    <li>IPAs</li>
                    <li>Sour</li>
                    <li>Todos os Produtos</li>
                </ul>
            </nav>
            <div class="buscador">
                <input type="search" id="busca" name="s" placeholder="buscar...">
                <button>buscar</button>
            </div>
        </article>
    </header>
    <main>
        <article class="carrinho">
            <section class="listaProdutos">
                <h2 class="tituloCarrinho">Carrinho de Compras</h2>
                <ol class="produtosCarrinho">
                    <div class="produto1">
                        <li class="infoProduto"><img src="./IMG carrinho/heineken-66-cl.jpeg" alt="foto cerveja Heineken">
                            <div class="descPreço"><p>Cerveja Heineken garrafa 600ml</p>
                            <br>
                                <p>R$ 15,00</p>
                            <br>
                            <div class="botoes">
                                <button>adicionar</button>
                            </div>
                        </div>
                    </li>
                    <li class="infoProduto"><img src="./IMG carrinho/Colorado.jpg" alt="foto cerveja Colorado">
                        <div class="descPreço"><p>Cerveja Colorado garrafa 600ml</p>
                        <br>
                            <p>R$ 15,00</p>
                        <br>
                        <div class="botoes">
                        <button>adicionar</button>
                    </div>
                        </div>
                        </li>
                        <li class="infoProduto"><img src="./IMG carrinho/cerveja-colorado-appia-600ml_77132.jpg" alt="foto cerveja Colorado Apia">
                            <div class="descPreço"><p>Cerveja Colorado Apia garrafa 600ml</p>
                            <br>
                                <p>R$ 15,00</p>
                            <br>
                            <div class="botoes">
                            <button>adicionar</button>
                        </div>
                    </div>
                            </li>
                </ol>
            </section>
            <section class="totalCarrinho">
                <h2>Total</h2>
                <p>R$ 150,00</p>
                <div class="botoes">
                <button>Continuar Comprando</button>
                <br>
                <button>Finalizar Compra</button>
            </div>
            </section>
        </article>       

    </main>
    <footer>
        <figure class="mapa">
			<img src="./IMG header e footer/Screenshot_130.png">	</figure>
		<div class="footInfo">
			<h3>Dev's Beer</h3>
			<p>contato</p>
			<p>sobre nós</p>
			<p>2 Kinoshinbomachi, Kanazawa, Ishikawa 920-0858, Japan</p>
		</div>
	</footer>
</body>
</html>