<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nós</title>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styleSobreNos.css" />
  </head>

  <body>
    <!---Scrips-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
<!--Font Awesome-->
    <script src="https://kit.fontawesome.com/a40a9a05b0.js" crossorigin="anonymous"></script>
<!--Progress Bar-->
<script src="js/progressbar.min.js"></script>
<!--Parallax-->
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <script src="js/scripts.js"></script>

    <header>
      <article class="containerBlack">
        <div class="logo">
          <h1>Dev's Beer</h1>
        </div>
        <div class="botoes">
          <button>Entrar</button>
          <img src="./IMG header e footer/carrinho-de-compras.svg" />
        </div>
      </article>
      <article class="containerBlue">
        <nav>
          <ul class="menu">
            <li>IPAs</li>
            <li>Sour</li>
            <li>Todos os Produtos</li>
          </ul>
        </nav>
        <div class="buscador">
          <input type="search" id="busca" name="s" placeholder="buscar..." />
          <button>buscar</button>
        </div>
      </article>
    </header>
    <main>
      <div class="container-fluid">
        <div id="mainSlider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
            <li data-target="#mainSlider" data-slide-to="1"></li>
            <li data-target="#mainSlider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/img0.jpg" class="d-block w-100" alt="Chop Brinde" />
              <div class="carousel-caption d-none d-md-block">
                <h2>Quer conhecer mais sobre nós?</h2>
                <p>Possuimos as melhores cervejas do Mundo.</p>
                <a href="#" class="main-btn"> Ver Produtos</a>
              </div>
            </div>
            <div class="carousel-item">
                <img src="img/img1.jpg" class="d-block w-100" alt="Chop 2" />
                <div class="carousel-caption d-none d-md-block">
                  <h2>Happy hour</h2>
                  <p>Conte conosco, possuimos muitas franquias proximo a você.</p>
                  <a href="#" class="main-btn"> Ver Produtos</a>
                </div>
          </div>
          <div class="carousel-item">
            <img src="img/img2.jpg" class="d-block w-100" alt="Chop 3" />
            <div class="carousel-caption d-none d-md-block">
              <h2>Cervejinha</h2>
              <p>Afinal, quem não gosta de uma cervejinha?</p>
              <a href="#" class="main-btn"> Ver Produtos</a>
            </div>              
            </div>
          </div>             
          <a href="#mainSlider" class="carousel-control-prev" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
          </a>
          <a href="#mainSlider" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
                      </a>
            </div>
          </div>
        </div>
      </div>
    </main>
<article>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod condimentum ex vel euismod. Pellentesque suscipit tellus sit amet tempus fringilla. Ut dictum semper massa, eu dapibus purus auctor sit amet. Sed sit amet molestie augue. Suspendisse finibus metus quis iaculis sodales. Fusce dolor tortor, interdum ac posuere nec, posuere aliquet ante. Pellentesque purus velit, congue a tristique eu, hendrerit non neque. Vestibulum feugiat, elit dictum dapibus auctor, dolor tellus finibus mauris, at volutpat nunc turpis in erat. Curabitur tempor vel quam id dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    Morbi sodales metus ac facilisis varius. Curabitur vestibulum tortor sit amet quam lobortis facilisis. Ut ultrices, nibh vitae rhoncus maximus, justo tellus pretium felis, eu faucibus nulla sapien vel ligula. In tincidunt feugiat sem, et eleifend turpis hendrerit ac. Nam nec quam a lorem interdum porta. Phasellus eleifend turpis id ex lacinia, finibus laoreet arcu congue. Etiam malesuada nulla nisi, nec rutrum elit scelerisque nec. Ut sollicitudin bibendum porta. Fusce vitae hendrerit ex, sit amet accumsan libero. Nulla sed convallis ipsum. Nullam tortor nunc, imperdiet dictum mollis ut, condimentum sodales ipsum. Nulla vehicula leo sed sollicitudin mattis.</p>


</article>


<nav>
<div class="cards">
<img src="img/cardTeste.jpg" alt="teste">
<img src="img/cardTeste.jpg" alt="teste">
<img src="img/cardTeste.jpg" alt="teste">


</div>

</nav>


    <footer>
      <figure class="mapa">
        <img src="./IMG header e footer/Screenshot_130.png" />
      </figure>
      <div class="footInfo">
        <h3>Dev's Beer</h3>
        <p>contato</p>
        <p>sobre nós</p>
        <p>2 Kinoshinbomachi, Kanazawa, Ishikawa 920-0858, Japão</p>
      </div>
    </footer>
  </body>
</html>
