<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/styleSobreNos.css">
  </head>

  <body>
    <%- include('./partials/header') %>
    <main class="main-container">
      <figure>
        <img src="/imagens/Fabri interna.jpg" alt="Maquinário de fabricação de cerveja">
      </figure>
      <article class="content-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            euismod condimentum ex vel euismod. Pellentesque suscipit tellus sit
            amet tempus fringilla. Ut dictum semper massa, eu dapibus purus
            auctor sit amet. Sed sit amet molestie augue. Suspendisse finibus
            metus quis iaculis sodales. Fusce dolor tortor, interdum ac posuere
            nec, posuere aliquet ante. Pellentesque purus velit, congue a
            tristique eu, hendrerit non neque. Vestibulum feugiat, elit dictum
            dapibus auctor, dolor tellus finibus mauris, at volutpat nunc turpis
            in erat. Curabitur tempor vel quam id dignissim. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas.
          </p>
          <p>
            Morbi sodales metus ac facilisis varius. Curabitur vestibulum tortor
            sit amet quam lobortis facilisis. Ut ultrices, nibh vitae rhoncus
            maximus, justo tellus pretium felis, eu faucibus nulla sapien vel
            ligula. In tincidunt feugiat sem, et eleifend turpis hendrerit ac.
            Nam nec quam a lorem interdum porta. Phasellus eleifend turpis id ex
            lacinia, finibus laoreet arcu congue. Etiam malesuada nulla nisi,
            nec rutrum elit scelerisque nec. Ut sollicitudin bibendum porta.
            Fusce vitae hendrerit ex, sit amet accumsan libero. Nulla sed
            convallis ipsum. Nullam tortor nunc, imperdiet dictum mollis ut,
            condimentum sodales ipsum. Nulla vehicula leo sed sollicitudin
            mattis.
          </p>
      </article>
      <div class="images-container">
        <img src="/imagens/Fabr-garrafas 2.jpg">
        <img src="/imagens/envaz cerveja.jpg">
        <img src="/imagens/Fabr-garrafas.jpg">
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
