<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/usuario.css">
    <title>Dev's Beer</title>
</head>
<body>
    <%- include('./partials/header') %>

    <div> <b>←</b>  <b>Pagina inicial</b> <b> perfil</b>  </div>
    <div id="container1">
    <div>
        <h1>
        Dados Pessoais
        </h1>

    <div id="nome">  <b>Nome Completo</b> <br> Fulano da Silva Rocha Flores  </div> 
    <div> <b>CPF</b>  <br> 123.456.789-00 </div>
    <div id="data"> <b>Data de Nascimento</b>  <br> 01/01/2000 </div> </div> 
    <div> <b>Telefone</b>  <br> (99)12345-6789 </div>  
    <div class="botoes">
        <button>Editar Meus Dados</button>
    </div>
</div>

<%- include('./partials/footer') %>


</body>
</html>