@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

html {
	height:100%;
}
body {
	display: flex;
	flex-direction: column;
	height:100%;
}
a, button{
    cursor: pointer;
}
.retorno {
    padding: 20px 57px;
    font-size: 1.1rem;
    font-weight: 100;
    align-self: flex-start;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.7;
}


.inicioform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    justify-items: center;
    align-items: center;
}

.input-group{
    border: 1px solid #8F8169;
    border-radius: 18px;
    padding: 25px 20px;
}

.inputs {
    padding: 24px 0px;
}

.inputs label {
    
    width: 187px;
    height: 29px;
    left: 245px;
    top: 647px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    
}
.inputs input {
    display: flex;
    width: 792px;
    height: 42px;
    border: 1px solid #8F8169;
    border-radius: 12px;
    font-size: 1rem;
    padding-left: 18px;
}

.avancar-boton{
    padding: 17px 75px;
    background: #EF8408;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: none;
    margin: 35px 0px;
}

.avancar-boton a {
    width: 152px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
    color: #FFFFFF;
}
#registerForm{
    display: flex;
    flex-direction: column;
}