@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}
html {
	height:100%;
}
body {
	display: flex;
	flex-direction: column;
	height:100%;
}
a, button{
    cursor: pointer;
}

/*CSS CARRINHO*/

.tituloCarrinho{
    border: #8F8169 solid 2px;    
    font-weight: 700;
    font-size: 48px;
    border-radius: 8px;
    margin: 10px;
    padding: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.infoProduto{
    border: #8F8169 solid 2px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    padding-right: 55px;
    gap: 20px;
}

.carrinho img{
    width: 250px;
    height: 250px;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
}
.descPreco p{
    font-size: 2rem;
    font-weight: bold;
}
.descPreco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.carrinho {
    display: flex;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
}
.botoes{
    display: flex;
    flex-direction: column;
}
#preco{
    font-size: 1.7rem
}
.totalCarrinho{
    border: #8F8169 2px solid;
    max-height: 311px;
    font-size: 40px;
    line-height: 58px;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    position: sticky;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.totalCarrinho button{
    font-size: 1.2rem;
}