@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

html {
	height:100%;
}

a{
    cursor: pointer;
}
button{
    cursor: pointer;
}

body {
    margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height:100%;
}

.banner1 img{
	height: 350px;
	width: 100%;
	padding: 35px;
    object-fit: cover;
    object-position: 50% 55%;
}

/*PRODUTOS card*/

article.produtos{
	margin: 0px 35px 35px;
    display: flex;
    justify-content: space-between;
}

article .card{
	width: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.produtoIMG{
    height: 260px;
}
.produtoIMG img{
	height: 100%;
	width: 260px;
    object-fit: cover;
}

.infoProd{
	display: flex;
	flex-direction: column;
	align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 10px;
}

article .nomeC{
    border-bottom: #8F8169 solid 3px;
}

.infoProd p{
    padding: 20px;
}
.infoProd button{
    border: none;
    border-radius: 8px;
    background-color: #EF8408;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 6px 18px;
}

/*FIM DOS PRODUTOS*/
.Promo{
    position: relative;
    padding: 35px;
}
.Promo img {
	height: 350px;
	width: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.Promo p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #393A3B;
    font-size: 3rem;
    font-weight: bolder;
}

@media (max-width: 942px){
    /*mobile*/
    
    header .containerBlack .logo{
        width: 100vh;
    }

    header .containerBlack {
        padding: 0px 20px;
    }

    .botoes button{
        font-size: 1.4rem;
        padding: 14px 20px;
    }

    header .botoes img{
        width: 23%;
    }

    header .containerBlue{
        display:none;
    }

    .banner1{
        display: none;
    }
    
    .primeiralinha {
        display: none;
    }
    
    article.produtos{
        padding: 10px 16px;
        margin: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        gap: 30px;
    }
    
    article .card{
        width: 100%;
        border-radius: 8px;
        border: #8F8169 2px solid;
    }

    .produtoIMG {
        height: 210px;
    }

    .produtoIMG img{
        height: 210px;
        width: 100%;
        border-radius: 6px 6px 0px 0px;
    }

    .infoProd {
        width: 100%;
    }
    
    .infoProd p{
        padding: 15px;
        font-size: 1.7rem;
    }

    .infoProd button{
        font-size: 2rem;
        padding: 18px;
        width: 100%;
    }

    .Promo{
        padding: 10px 16px;
        height: 125px;
    }

    .Promo img{
        height: 100%;
    }

    footer{
        margin-top: 20px;
    }

    footer .mapa {
        display: none;
    }

    footer .footInfo h3{
        font-size: 2rem;
    }
    
    footer .footInfo a{
        font-size: 1.2rem;
        width: fit-content;
        font-weight: normal;
    }
}