@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

html {
	height:100%;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}

body {
    margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height:100%;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloprincipal{
    font-size: 2rem;
    padding: 45px 0px;
    text-align: center;
}

.inicioform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.input-group{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    gap: 24px;
    border: 1px solid #8F8169;
    border-radius: 18px;
}

.input-box label{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2;
    padding-bottom: 16px;
}
.input-box input{
    box-sizing: border-box;
    width: 792px;
    height: 68px;
    border: 1px solid #8F8169;
    border-radius: 18px;
    font-size: 1.5rem;
    padding: 0px 15px;
}

.botao{
    border: none;
    border-radius: 8px;
    background-color: #EF8408;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    padding: 16px 40px;
}

.botao a{
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

hr{
    width: 1069px;
    margin: 50px;
}
.partb{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 100px;
}

.titulos{
    text-align: center;
    line-height: 2;
}

.titulo1{
    font-size: 2rem;
    line-height: 58px;
    }

.titulo2{
    font-weight: 400;
    font-size: 2rem;
}

.botao2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 75px;
    gap: 10px;
    width: 385px;
    height: 82px;
    left: 446px;
    top: 1400px;
    background: #EF8408;
    border-radius: 18px;
}

.botao2 a{
    width: 235px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}