@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

html {
	height:100%;
}

a, button{
    cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	height:100%;
}
/*CSS CARRINHO*/

.retornoDePaginas{
    padding: 20px 57px;
    font-size: 1.1rem;
    font-weight: 100;
}

.imagemProdutoPreco img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.imagemProdutoPreco{
    font-style: normal;
    font-weight: 500;
    display: flex;
    padding: 40px 57px;
    gap: 94px;
}

.botaoQtdEadicionar{
    background: #454956;
    border-radius: 18px;
    color: #FFFFFF;
    padding: 20px 47px;
    font-weight: 600;
}
.botaoQtdEadicionar p{
    padding-bottom: 15px;
    font-size: inherit;
}

.qtdContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
    padding-block-end: 4px;
}

form{
    display: flex;
    flex-direction: row;
}
form button{
border: none;
border-radius: 0px 8px 8px 0px;
background-color: #EF8408;
color: white;
font-weight: bold;
font-size: 1.6rem;
text-align: center;
text-decoration: none;
padding: 10px 20px;
}

.numberQuantity{
    width: 50%;
    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px;
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    height: 79px;
}

.textoDescricaoProduto{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding: 40px 57px;
    line-height: 1.5;
}
.textoDescricaoProduto h2{
    margin-bottom: 14px;
}
.upr-case{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}