@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
	box-sizing: border-box;	
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

html {
	height:100%;
}

body {
    margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height:100%;
}

a{
  cursor: pointer;
}
button{
  cursor: pointer;
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.main-container figure img {
  padding: 45px 0px;
  height: 395px;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 80%;
  opacity: 0.7;
}

.content-container{
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 37px;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 45px 0px;
}

.images-container img{
  width: 330px;
  height: 408px;
  object-fit: cover;
}