@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
a, button{
    cursor: pointer;
}

.retorno {
    padding: 20px 57px;
    font-size: 1.1rem;
    font-weight: 100;
}
h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 3em;
}
#boton{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#boton button {
    border: none;
    border-radius: 8px;
    background-color: #EF8408;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 15px 20px;
    margin: 40px 0px 40px;
}

#container1 {
    border: 1px solid #8F8169;
    border-radius: 18px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 600px;
    max-width: 800px;
    align-self: center;
    padding: 40px;
    margin-bottom: 45px;
}

.infosContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.infosContainer p{
    margin-top: 12px;
}